alabaster==0.7.12
appdirs==1.4.3
appnope==0.1.0
arviz==0.5.1
asn1crypto==0.24.0
astroid==2.2.5
astropy==4.0.1.post1
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.7.1
bitarray==0.9.3
bkcharts==0.2
bleach==3.1.4
bokeh==1.2.0
boto==2.49.0
Bottleneck==1.2.1
category-encoders==2.1.0
certifi==2019.11.28
cffi==1.12.3
cftime==1.0.4.2
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
colorama==0.4.1
Flask==1.1.1
flask_sqlalchemy
flask_migrate
flask_cors
gunicorn
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
Jinja2==2.11.2
json5==0.8.4
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.0.2
jupyterlab-server==1.0.0
mglearn==0.1.7
numpy==1.16.4
pandas==1.0.3
pandas-profiling==2.6.0
pep8==1.7.1
pickleshare==0.7.5
psycopg2-binary==2.8.5
pyflakes==2.1.1
pytest==5.0.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-pylint==0.15.1
pytest-remotedata==0.3.1
python-dateutil==2.8.0
requests==2.23.0
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.4.1
spacy
SQLAlchemy==1.3.5
